[submodule "buildIjkplayer/ijkplayer"]
	path = buildIjkplayer/ijkplayer
	url = https://github.com/bilibili/ijkplayer
[submodule "buildMyIjkplayer"]
	path = buildMyIjkplayer
	url = https://github.com/bilibili/ijkplayer
[submodule "buildMyIjkPlayer"]
	path = buildMyIjkPlayer
	url = https://github.com/swithun-liu/swithun-ijkplayer
